<form class="form-horizontal">
    <div class="control-group-header">
        <h3>Bugquest</h3>
    </div>
    <div class="control-group">
        <label class="control-label" for="color">Color</label>
        <div class="controls">
            <input class="input-block-level" data-bind="value: settings.plugins.bugquest.color">
        </div>
    </div>
</form>